.for_items{
    display: flex;
    list-style: none;
}



.Login:hover{
    color: blue;
        
}
.Registration:hover{
    color: blue;
        
}

.Login{
    margin-left: 30px;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    border: 0;
    font-weight: 600;
    margin: 0 10px;
    width: 400px;
    padding: 10px 0;
    transition: 0.4s;
    color: white;
    text-align: center;
    
}

.Registration{
    margin-left: 30px;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    border: 0;
    font-weight: 600;
    margin: 0 10px;
    width: 400px;
    padding: 10px 0;
    transition: 0.4s;
    color: white;
    text-align: center;
}