
.header{
    width: 100%;
    height: 100px;
    background-color: antiquewhite;
}

.headerdiv{
    display: flex;
    justify-content: flex-end;
    gap: 140px;
    align-items: center;
}

.logout{
    width: 150px;
    height: 60px;
}

.forproducts{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 25px;
    
}
.title{
    
    font-size: 1.5rem;
    margin: 10px 0;
}

.product-image{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.price{
   
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    
    border-radius: 2px solid blue;
}

.desc{
    width: 250px;
}

.product:hover {
    border-color: #007bff; 
}

.avatar{
    vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.movies{
    text-decoration: none;
    font-size: 25px;
}

.products{
    text-decoration: none;
    font-size: 25px;
}